* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}


@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.body {
    background-color: #181419;
}
body::-webkit-scrollbar{
    background-color: #181419;
}
body::-webkit-scrollbar-thumb {
    background-color: #9F3647;
}
/* navbar*/
.header-container {
    background-color: #9F3647;
    padding: 10px 20px 20px 20px;
    position: sticky;
    top: 0;
    z-index: 10;
}

/*animation CAC-movies */

#CaC-movies:hover {
    animation: transition 1s;
    animation-iteration-count: infinite;
}

@keyframes transition {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

/*animation CAC-movies */
.nav-item .nav-link {
    color: white;
    margin-left: 2vw;
}

.nav-item .nav-link:hover {
    background-color: #9F3647;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    border-radius: 5px;
}

#sesion {
    background-color: #181419;
    color: white;
    border-radius: 5px;
    transition: transform 0.3s, box-shadow;
}

#sesion:hover {
    background-color: #9F3647;
    color: white;

}

/* navbar */

/*section principal*/
.img {
    color: white;
    background: linear-gradient(to right top, #0000008a, #0000008a), url(../img/banner-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    margin: 3vh;
}

h2 {
    font-weight: 400;
    margin: 3vh;
}

.botton-register {
    text-decoration: none;
    background-color: #9F3647;
    color: white;
    border-radius: 5px;
    transition: transform 0.3s, box-shadow;
    padding: 2vh 2vw;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1vh;
}

.botton-register:hover {
    color: white;
    border-radius: 5px;
    transform: scale(0.95);
    box-shadow: 0 0 10px rgba(136, 136, 136, 0.3);
}

/*section principal*/

/*section search*/
.search-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10vh 0 2vh 0;
}

.search-title {
    color: white;
    font-size: 2.5rem;
    font-weight: 700;
}

.search-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh 0 2vh 0;
}

.form-text {
    font-size: 18px;
    border: .3vh solid white;
    border-radius: 25vh;
    height: 7vh;
    width: 35vw;
    padding: 0 2vw;
    outline: none;
}

.form-submit {
    font-size: 1.2rem;
    border: .3vh solid white;
    color: white;
    background-color: #9F3647;
    border-radius: 25vh;
    width: 15vh;
    height: 7vh;
    margin: 2vh 1vw;
    font-weight: 700;
}

hr {
    width: 80%;
    border: 1px solid #9F3647;
    margin: 0 auto;
    margin-top: 40px;
}

/*section search*/

/*section movies*/
#trend {
    padding: 2vh;
    color: white;
    font-size: 3rem;
    font-weight: 700;
}

.trend-movies {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.main-movies {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-column-gap: 6%;
}


.main-movies2 {
    position: relative;
    display: flex;
    justify-content: center;
    width: 200px;
    height: 300px;
    margin-bottom: 2vh;
    margin-top: 5vh;
}

.main-movies2:hover img {
    filter: brightness(50%) blur(2px);
    transition: ease-in .15s;
    box-shadow: 0 0 5px rgba(255, 89, 89, 1);
    scale: .95;
}

.name-movies {
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    color: #ffff;
}

.main-movies2:hover .name-movies {
    opacity: 1;
}


.img-movies {
    width: 100%;
    height: 100%;
    border-radius: 5%;
}

.button {
    padding: 1vh 1.5vw;
    margin: 5vh 3vh 5vh 3vh;
    border-radius: 3px;
    background-color: #9F3647;
    border: 1px solid white;
    color: white;
    font-size: 1.1rem;
    font-weight: 700;
}

/*section aclamadas*/

.section-acclaim {
    width: 70%;
    margin: 0 auto;
    margin-top: 2vh;
    margin-bottom: 10vh;
}

.acclaim::-webkit-scrollbar{
    border-radius: 2vh;
    background-color:  #39363a;
}
.acclaim::-webkit-scrollbar-thumb {
    border-radius: 2vh;
    background-color: #9F3647;
}

.title-acclaim {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 3rem;
}

.acclaim {
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
    overflow-y: none;
    padding: 0 0 10vh 0;
}

.movies-acclaim {
    display: flex;
    justify-self: center;
    margin-left: 5vh;
}

.img-acclaim {
    width: 80%;
    min-width: 25vh;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

/* footer */
.footer {
    background-color: #9F3647;
    padding: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;

}


.footer-text {
    text-decoration: none;
    color: white;
    margin: 0 1vh;
}



#admin-pelis {
    background-color: #181419;
    color: white;
    border-radius: 5px;
    padding: 2vh;
}

/* footer */

/* all media */

@media (max-width: 768px) {

    /* header */
    .header-container {
        height: inherit;
    }

    .container-fluid {
        flex-direction: column;
    }

    /* section principal*/
    h1 {
        font-size: 2rem;
    }

    /* section search */
    .search-1 {
        padding: 0;
        font-size: 1rem;
    }

    .search-title {
        font-size: 1.2rem;
    }

    /* section trend */
    #trend {
        padding-top: 3vh;
        font-size: 1.2rem;
    }

    .form-text {
        font-size: 1rem;
        height: 6vh;
        width: 30vh;
    }

    .form-submit {
        font-size: 1rem;
        width: 15vh;
        height: 6vh;
    }

    /* section acclaim */
    .title-acclaim {
        font-size: 1.3rem;
    }
    
    /* footer */
    .footer-main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;
    }

    .footer-text {
        padding: 2vh;
        font-weight: 700;
    }
}

/* header */